/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /* STYLES */
 body {
    font-family: 'Open Sans', sans-serif;
 }


/* UTILITIES */
/* Layout */

/* HEADER */

/* MAIN */

/* FOOTER */

