/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
li {
    list-style-type: none;
}
 /* STYLES */
 body {
    font-family: 'Open Sans', sans-serif;
 }
/* UTILITIES */
/* Common */
.flex  {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
.btn-large {
    text-align: center;
    padding: 10px 15px;
}
.blue {
    color: white;
    background-color: #0061FF;

}
.btn-thin {
    text-align: center;
    padding: 5px 15px;
}
a {
    text-decoration: none;
    color: inherit;
}
.pad-2 {
    padding-bottom: 2rem;
}
.pad-4 {
    padding-bottom: 4rem;
}
/* Layout */
.container {
    width: 60%;
    margin: 0 auto;
    /* Debug */
    border: 1px solid black;
}
.big-container {
    margin: 0 auto;
    width: 70%;
    /* Debug */
    /* border: 1px solid red; */
}
.logo-container {
    width: 100%;
    background-color: blueviolet;
}

.col-30 {
    width: 30%;
}

.col-70 {
    width: 70%;
}
.row {
    margin: 0 auto;
    /* Debug */
/*     
    border: 1px solid black; */
}
.col {
    width: calc(100%/2);
    /* Debug */
    background-color: lightyellow;
    border: 1px solid black;
}
.large-row {
    /* Debug */
    margin: 0 auto;
    width: 100%;
    background-color: lightgreen;
    border: 1px solid black;
}
.large-col {
    /* Debug */
    width: 100%;
    
    background-color: lightyellow;
    border: 1px solid black;
}
.card {
    width: calc(100%/2);
    height: calc(100%/2);
    border: 3px solid green;
}
.tool {
    width: calc(100% / 3);
}
.plans {
    width: calc(100% / 3 );
}
.list {
  width: calc(100% /5);
}

/* HEADER */
/* header top */
.header-top {
    background-color: white;
    width: 100%;
    height: 80px;
    align-items: center;
    font-size: .8rem;
    position:fixed;
}
.logo {
    width: 10%;
    margin-left: 10px;
}
.nav-menu li {
    display:inline-block;
    margin: 0 15px 0 0;
}
.nav-button li {
    display:inline-block;
    margin: 0 10px;
}
.nav-menu {
   display: flex;
   justify-content: space-between;
   width: 80%;
}
.nav-button {
    width: 10%;
}

/* Jumbotron */
.jumbotron {
    padding-top: 80px;
    background-color: #B4D0E7;
}
.main-title {
    font-size: 3.5rem;
    padding: 3rem 0 2rem;
}
.jumbotron h2 {
    font-size: 3rem;
}

/* MAIN */

/* Business plan */
.business-plan {
    /* DEBUG */
    background-color: aquamarine;
    height: 800px;
}
.section-title {
     /* Debug */
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}
.enterprise {
       /* Debug */
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}

/* Partners */

.operations {
     /* DEBUG */
     background-color: lightsalmon;
}

/* Logos */
/* Call to actions */

.actions {
    /* Debug */
    background-color: #B4D0E7;
    width: 100%;
}

/* faq */
.faq {
    /* Debug */
    margin: 0 auto;
    background-color: blue;
   
    height: 400px;
}
/* FOOTER */

footer {
    background-color: black;
}
.language {
    margin: 0 auto;
    width: 100%;
    color: white;
    border: 2px solid red;
}