/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
 /* STYLES */
 body {
    font-family: 'Open Sans', sans-serif;
 }
/* UTILITIES */
/* Common */
.flex  {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}

/* Layout */
.container {
    width: 60%;
    margin: 0 auto;
    /* Debug */
    border: 1px solid black;
}
.jumbotron {
    background-color: #B4D0E7;
    /* Debug */
    width: 100%;
    height: 600px;
    border: 1px solid red;
}
.big-container {
    background-color: palevioletred;
    /* Debug */
    margin: 0 auto;
    width: 80%;
    border: 1px solid red;
}
.logo-container {
    width: 100%;
    background-color: blueviolet;
}
.row {
    /* Debug */
    margin: 0 auto;
    height: 500px;
    background-color: lightgreen;
    border: 1px solid black;
}
.col {
    width: calc(100%/2);
    /* Debug */
    background-color: lightyellow;
    border: 1px solid black;
}
.large-row {
    /* Debug */
    margin: 0 auto;
    width: 100%;
    background-color: lightgreen;
    border: 1px solid black;
}
.large-col {
    /* Debug */
    width: 100%;
    
    background-color: lightyellow;
    border: 1px solid black;
}
.card {
    width: calc(100%/2);
    height: calc(100%/2);
    border: 3px solid green;
}
.tool {
    width: calc(100% / 3);
}
.plans {
    width: calc(100% / 3 );
}
.list {
  width: calc(100% /5);
}

/* HEADER */
/* header top */
.header-top {
    height: 80px;
    /* Debug */
    background-color: lightpink;
    border: 1px solid black;
}
.logo {
    /* Debug */
    width: 10%;
    height: 80px;
    background-color: lightslategray;
    border: 1px solid black;
}
.nav-menu {
    /* Debug */
    width: 80%;
    height: 80px;
    background-color: lightslategray;
    border: 1px solid black;
}
.nav-button {
    /* Debug */
    width: 10%;
    height: 80px;
    background-color: lightslategray;
    border: 1px solid black;
}
/* Jumbotron */

.main-title {
    /* Debug */
    margin: 0 auto;
    height: 100px;
    background-color: lightgreen;
    border: 1px solid black;
}

/* MAIN */

/* Business plan */
.business-plan {
    /* DEBUG */
    background-color: aquamarine;
    height: 800px;
}
.section-title {
     /* Debug */
    margin: 0 auto;
    width: 100%;
    height: 100px;
    background-color: red;
    border: 1px solid black;
}
.enterprise {
       /* Debug */
    margin: 0 auto;
    width: 100%;
    height: 200px;
    background-color: yellow;
    border: 1px solid black;
}

/* Partners */

.operations {
     /* DEBUG */
     background-color: lightsalmon;
}

/* Logos */
/* Call to actions */

.actions {
    /* Debug */
    background-color: #B4D0E7;
    width: 100%;
}

/* faq */
.faq {
    /* Debug */
    margin: 0 auto;
    background-color: blue;
   
    height: 400px;
}
/* FOOTER */

footer {
    background-color: black;
}
.language {
    margin: 0 auto;
    width: 100%;
    color: white;
    border: 2px solid red;
}